<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" enforceTimeLimit="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true">
  <testsuites>
    <testsuite name="Core Tests">
      <directory suffix=".php">./tests/Core/</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <php>
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
  </php>
</phpunit>
